*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Comic Neue', cursive;
}

#banner {
    border: 3px solid black;
    z-index: -1;
    object-fit: cover;
    height: 80%;
    width: 100%;
    object-position: 0 -130px;
}

h1 {
    position: absolute;
    font-weight: 200;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    text-align: center;
}

.logo1 {
    height: 15vh;
    position: absolute;
    top: 35vh;
    left: 85vw;
    background-color: white;
border: 3px solid black;
}

header {
    margin-left: 2.5vw;
        display: inline-block;
        width: 95vw;
        height: 50vh;
}

nav {
    width: 15vw;
    float: left;
    display: inline;
}

nav>a {
    display: block;
    margin: 0 3em 4em 3em;
}

main {
    margin-top: 3vh;
}

main>section {
    width: 75vw;
    display: inline-block;
}

p {
    padding-left: 2em;
}